.header{
	background-color: #ebebeb;
	width: 1300px;
	height: 24700px;
	margin-top: -175px;
}
.tovar1{
	display: flex;
	height: 1350px;
	justify-content: center;
	margin-top: 175px;
}
.tovar2{
	display: flex;
	height: 1350px;
	justify-content: center;
	margin-left: -10px;
}
.tovar3{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar4{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar5{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar6{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar7{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar8{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar9{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center;
}
.tovar10{
	display: flex
	margin-left: -10px;;
	height: 1350px;
	justify-content: center
}
.tovar11{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar12{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar13{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar14{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar15{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar16{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.tovar17{
	display: flex;
	margin-left: -10px;
	height: 1350px;
	justify-content: center
}
.img1{
	margin-left: 5px;
	margin-left: -10px;
	margin-top: 170px;
}
.img2{
	margin-left: 5px;
	margin-top: 170px;
}
.img3{
	margin-left: 5px;
	margin-top: 170px;
}
.img4{
	margin-left: 5px;
	margin-top: 170px;
}
.img5{
	margin-left: 5px;
	margin-top: 170px;
}
.img6{
	margin-left: 5px;
	margin-top: 170px;
}
.img7{
	margin-left: 5px;
	margin-top: 170px;
}
.img8{
	margin-left: 5px;
	margin-top: 170px;
}
.img9{
	margin-left: 5px;
	margin-top: 170px;
}
.img10{
	margin-left: 5px;
	margin-top: 170px;
}
.img11{
	margin-left: 5px;
	margin-top: 170px;
}
.img12{
	margin-left: 5px;
	margin-top: 170px;
}
.img13{
	margin-left: 5px;
	margin-top: 170px;
}
.img14{
	margin-left: 5px;
	margin-top: 170px;
}
.img15{
	margin-left: 5px;
	margin-top: 170px;
}
.img16{
	margin-left: 5px;
	margin-top: 170px;
}
.img17{
	margin-left: 5px;
	margin-top: 170px;
}
.hhhhh{
	text-align: center;
	color: #595959;
	font-size: 60px;
}
.text{
	text-align: center;
	justify-content: center;	
}
.text{
    font-size: 67px;
    font-weight: 500;
    margin-top: 100px;
}