.header{
	background-color: #ebebeb;
	width: 1300px;
	height: 1750px;
}
.contact{
	display: block;
	text-align: center;
}
.img1{
	height: 5px;
	width: 1300px;
	margin-top: 800px;
}
.img2{
	height: 5px;
	width: 1300px;
	margin-top: 30px;
}
.what{
	height: 150px;
	margin-top: 30px;
}
.inst{
	height: 150px;
	margin-left: 40px;
}
.tell{
	color: #000;
	font-size: 60px;
	font-weight: 500;
}
.aaa{
	text-decoration: none;
}